<div class="container w-75">
  <div class="p-3 mb-2 bg-light text-dark">
    <h6 class="font-weight-bold">Datos de la visita</h6>
  </div>

  <table class="table"> 
      <tr> 

        <td class="w-50">
          <div class="row">
              <div class="col"><h6 class="font-weight-bold">DNI</h6></div>
          </div>
          <div class="row">
            <div class="col"><input type="text" class="form-control" placeholder="Ingrese DNI" id="usr"></div>
            <div class="col"><button type="button" class="btn btn-warning btn-sm"><h6 class="text-danger font-weight-bold">Consultar</h6></button></div>
          </div>             
        </td>
            
        <td class="w-50">
          <h6 class="font-weight-bold">Nombre y apellido</h6>
          <h6 class="font-weight-normal pt-2">Federico López</h6>
        </td>

      </tr>

      <tr>

        <td class="w-50">
          <div class="row">
            <div class="col"><h6 class="font-weight-bold">Nro. de tarjeta de ingreso</h6></div>
            <div class="col"><h6 class="font-weight-bold">Fecha de ingreso</h6></div>
          </div>
          <div class="row">
            <div class="col"><input type="text" class="form-control" placeholder="Ingrese número" id="usr"></div>
            <div class="col mt-2"><h6 class="font-weight-normal">28/8/2018</h6></div>
          </div>   

          <h6 class="font-weight-bold pt-3">Visita a</h6>
          <select class="form-control" placeholder="Seleccione a la persona visitada" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </td>

        <td class="w-50">
          <h6 class="font-weight-bold">Hora de ingreso</h6>
          <h6 class="font-weight-normal pt-2">08:57 a.m.</h6>

          <h6 class="font-weight-bold pt-3">Sector</h6>
          <select class="form-control" placeholder="Seleccione sector de la persona visitada" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>

          <div class="d-flex justify-content-end mt-4">
            <button type="button" class="btn btn-warning btn-sm"><h6 class="text-danger font-weight-bold">Ingresar</h6></button>
          </div>
        </td>

      </tr>
  </table>
</div>



